@font-face {
    font-family: "PT Sans Narrow";
    src: url(assets/fonts/PTSansNarrow-Regular.ttf);
}

body {
    background-color: #fff;
    margin: 0;
}

p {
    font-family: "PT Sans Narrow", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.greenColorForText {
    color: #3BB372;
}

.blueColorForText {
    color: #398495;
}

.navMain {
    justify-content: flex-end;
}

.ulHeaderNav {
    list-style-type: none;
}

.ulHeaderNav li {
    margin: 50px 50px 0 50px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    float: left;
}

.rowNav {
    display: grid;
    grid-template-columns: 1fr 40px 1.4fr;
}

.rowTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowTitleWithButtons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.buttonTelegramAndInstagram {
    width: 30px;
    padding: 24px 10px 0 10px;
}

.lineInTitle {
    padding-top: 22px;
}

.columnTitle {
    flex-direction: column;
    margin-left: 40px;
}

.columnLandings {
    flex-direction: column;
}

.gridForTitleAboutUs {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.spotAboutUs {
    grid-column: 2;
    grid-row: 1;
}

.pAboutUs {
    grid-column: 2;
    grid-row: 1;
    font-size: 48px;
    font-weight: bold;
    padding-left: 50px;
}

.rowAboutUs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 10px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.servicesLiSpan {
    color: #000000;
}

.servicesUlCreatingSite {
    list-style-type: circle;
}

.servicesUlCreatingSite li {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    line-height: 42px;
    color: #3BB372;
}

.servicesUlRebranding {
    list-style-type: circle;
}

.servicesUlRebranding li {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    line-height: 42px;
    color: #398495;
}

.servicesText {
    display: flex;
    flex-direction: column;
    padding: 0 60px 40px 60px;
    border-radius: 25px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.gridForLogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.logoShadow {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
    padding-right: 20px;
}

.spotLogo {
    grid-column: 1;
    grid-row: 1;
}

.spotNav {
    margin-left: 30px;
}

.spotTitle {
    margin: 0 0 -410px -30px;
}

.pTamwyle {
    color: #3BB372;
    font-size: 28px;
    margin-bottom: -60px;
    margin-top: 60px;
}

.pTeamWeb {
    font-size: 72px;
    line-height: 62px;
}

.pTeamWebDescription {
    font-size: 28px;
    margin-top: -40px;
}

.pAboutUsText {
    font-size: 24px;
}

.landing2 {
    margin: 0 15px 60px 15px;
}

.landing3 {
    margin-right: 50px;
}

.gridForTitleServices {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 50px;
}

.spotOurServices {
    grid-column: 7;
    grid-row: 1;
}

.pOurServices {
    font-size: 48px;
    font-weight: bold;
    grid-column: 7;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    white-space: nowrap;
}

.gridForTitleTeam {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.pTeam {
    grid-column: 2;
    grid-row: 1;
    font-size: 48px;
    font-weight: bold;
    padding-left: 30px;
    white-space: nowrap;
}

.spotTeam {
    grid-column: 2;
    grid-row: 1;
}

.gridForTitlePortfolio {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 60px;
}

.pPortfolio {
    grid-column: 2;
    grid-row: 1;
    font-size: 48px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
}

.spotPortfolio {
    grid-column: 2;
    grid-row: 1;
}

.gridForPortfolioBanner {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}

.rectanglePortfolio {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}

.rectanglePortfolioText {
    grid-row: 1;
    grid-column: 1;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 42px;
    color: #ffffff;
    justify-self: center;
    padding-top: 20px;
}

.portfolioItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    align-self: center;
}

.portfolioItemImage {
    margin-top: 30px;
    padding-right: 30px;
    grid-column: 2;
}

.portfolioItemText {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 30px;
    grid-column: 3;
    padding-left: 30px;
}

.gridForTitleContacts {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.spotContacts {
    grid-row: 1;
    grid-column: 7;
}

.pContacts {
    grid-row: 1;
    grid-column: 7;
    font-size: 48px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.spotAllContacts {
    width: 100%;
    margin: 50px auto -30px auto;
}

.elementsOfContacts {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: -200px;
    margin-left: 20px;
    justify-items: center;
}

.contactsColumn {
    display: flex;
    flex-direction: column;
}

.contactsFirstColumn {
    align-items: center;
}

.socialMediasRow {
    display: flex;
    flex-direction: row;
}

.socialMediaElement {
    width: 30px;
    margin: 0 10px;
}

.lineContacts {
    margin-top: 10px;
    width: 70px;
    height: 2px;
}

.ulContacts {
    list-style-type: none;
    font-family: "PT Sans Narrow", sans-serif;
}

.ulContacts li {
    font-size: 20px;
    margin-top: 10px;
}

.liMainContacts {
    font-size: 24px;
    margin-bottom: 13px;
    font-weight: bold;
}

.tamwyleContacts {
    font-size: 28px;
    color: #398495;
    line-height: 10px;
}

.marginBottom0 {
    margin-bottom: 0;
}

.buttonOrderProject {
    padding: 25px;
    color: #ffffff;
    width: 150px;
    background-image: url(assets/images/buttonOrderProjectGreen.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    font-size: 16px;
    font-family: "PT Sans Narrow", sans-serif;
    border: none;
    margin-top: 20px;
}

.buttonPortfolio {
    padding: 25px;
    color: #000000;
    width: 150px;
    background-image: url(assets/images/buttonPortfolioBlue.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    font-size: 16px;
    font-family: "PT Sans Narrow", sans-serif;
    border: none;
    margin-top: 20px;
}

.fontSizeTitle {
    font-size: 48px;
}

.fontSize28 {
    font-size: 28px;
}

.fontSize42 {
    font-size: 42px;
}

.fontSize36 {
    font-size: 36px;
}

.fontSize32 {
    font-size: 32px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.imageLaptop2 {
    margin-top: 40px;
}

.servicesBanner {
    margin: 30px 20px 0 60px;
    background: #398495;
}

.servicesBanner1 {
    margin: 30px 60px 0 20px;
    background: #3BB372;
}

.servicesTextMargin {
    margin-top: -20px;
}

.footerLogoWidth {
    width: 50px;
}

.buttonOrderProjectBlue {
    background-image: url(assets/images/buttonOrderProjectBlue.svg);
}

.buttonPortfolioGreen {
    background-image: url(assets/images/buttonPortfolioGreen.svg);
}

.buttonOrderProjectWhiteGreen {
    background-image: url(assets/images/buttonOrderProjectWhite.svg);
    background-color: #3BB372;
    color: #398495;
    margin: 0;
}

.buttonOrderProjectWhiteBlue {
    background-image: url(assets/images/buttonOrderProjectWhite.svg);
    background-color: #398495;
    color: #398495;
    margin: 0;
}

.wrap {
    margin: 50px auto;
    width: 80%;
}
.b-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.flexRowForCarousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.b-carousel__prev,
.b-carousel__next {
    width: 50px;
    height: 78px;
    margin-top: 100px;
    border: none;
    overflow: hidden;
    background-color: #ffffff;
    transform: translateY(-50%);
}

.b-carousel__next {
    background-image: url(assets/images/buttonForCarouselNext.svg);
    margin-left: 65px;
}

.b-carousel__prev {
    background-image: url(assets/images/buttonCarouselPrevious.svg);
    margin-right: 65px;
}

.b-carousel__wrap {
    display: flex;
    transition: transform .5s;
    will-change: transform;
    position: relative;
    z-index: 1;
    height: 100%;
}

.b-carousel__item {
    flex: 0 0 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-carousel__img {
    width: 50%;
    height: 100%;
    display: block;
}

.pTeamTextItem {
    padding: 0 40px;
}

@media only screen and (max-device-width: 500px) {
    .rowNav {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
        align-self: center;
    }

    .gridForLogo {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
    }

    .spotLogo {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
    }

    .spotLogo {
        transform: rotate(45deg);
    }

    .logo {
        position: absolute;
    }

    .logoShadow {
        justify-content: center;
    }

    .logoShadow, .columnLandings, .navMain, .spotNav, .spotTitle, .spotAllContacts,
    .contactsTeamColumn, .contactsAboutUsColumn, .buttonTelegramAndInstagram, .lineInTitle {
        display: none;
    }

    .rowTitle {
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;
        justify-self: center;
    }

    .columnTitle {
        align-self: center;
        justify-self: center;
    }

    .rowAboutUs {
        grid-template-columns: 1fr 1fr;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .servicesBanner {
        margin: 40px;
    }

    .servicesBanner1 {
        margin: 40px;
    }

    .rectanglePortfolio {
        padding-top: 30px;
        width: 90%;
    }

    .rectanglePortfolioText {
        white-space: nowrap;
    }

    .flexColumn {
        justify-items: center;
    }

    .flexRow {
        justify-content: center;
    }

    .portfolioItems {
        grid-template-columns: 1fr;
    }

    .portfolioItemText {
        grid-column: 1;
        padding: 15px 40px;
        justify-self: center;
        align-self: center;
    }

    .portfolioItemImage {
        grid-column: 1;
        padding: 15px 40px;
        justify-self: center;
        align-self: center;
    }

    .elementsOfContacts {
        grid-template-columns: 1fr;
        margin-top: 100px;
        margin-left: 0;
    }

    .textAlignCenter {
        text-align: center;
    }
}