@font-face {
    font-family: "PT Sans Narrow";
    src: url("https://fonts.google.com/specimen/PT+Sans+Narrow");
}

body {
    background-color: #fff;
}

p {
    font-family: "PT Sans Narrow", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.mainNav {
    list-style-type: none;
}

.mainLi {
    margin: 50px 40px 0 40px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    float: left;
}

.rowNav {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
}

.rowTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columnTitle {
    flex-direction: column;
    margin-left: 40px;
}

.columnLandings {
    flex-direction: column;
    margin-top: -60px;
}

.rowAboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 150px;
}

.creatingSite {

}
